@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Messaging Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This application is created using ASP.NET Core</a>.</p>
</div>
