@model IEnumerable<StudentMessagingApp.Models.Message>


<p>list of messages</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>StudentId</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
   <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>
                @message.Id
                </td>
                <td>
                @message.StudentId
                </td>
                <td>
                @message.Title
                </td>
                <td>
                @message.Content
                </td>
            </tr>
        }
    </tbody>
</table>